<div id="startmenu" style="display: block;">

 	<h3><img src="/assets/default_icon.jpg" alt="logo" width="48" height="48">Jhon Pacheco</h3>
	
	<div id="recentprograms">

		<dl id="internetbrowser">
			<dt>Internet</dt>
			<dd><a>Mozilla Firefox</a></dd>
		</dl>

		<dl class="blueScreen" id="emailclient">
			<dt>E-mail</dt>
			<dd><a>Mozilla Thunderbird</a></dd>
		</dl>

		<ul id="recent">
			<li id="mediaplayer"><a>Windows Media Player</a></li>
			<li id="startMS"><a>Minesweeper</a></li>
			<li id="startTetris"><a>Tetris</a></li>
			<li id="startCP"><a>Command Prompt</a></li>
			<li id="startWinamp"><a>Winamp</a></li>
		</ul>
	</div>
	<ul id="close">
		<li id="logoff"><a><em>L</em>og Off</a></li>
		<li id="shutdown"><a>Sh<em>u</em>t Down</a></li>
	</ul>
</div>

